// * Columns
// * **********************************************************************************************
@columns = 10;

.ty-columns (@index) when (@index > 0) {
  .ty-columns(@index - 1);
  .ty-column@{index} {
    float: left;
    display: block;
    margin-right: 0;
    width: percentage((100 / @index) * 0.01);
    vertical-align: top;
  }
  .ty-column@{index}:nth-child(@{index}n+1) {
    clear: left;
  }
}
.ty-columns(0) { }
.ty-columns(@columns);

@media (max-width: 979px) {
  .ty-columns(@columns);
  .ty-columns (@index) when (@index > 1) {
    .ty-columns(@index - 1);
    .ty-column@{index} {
      width: percentage((100 / (@index - 1)) * 0.01);
    }
    .ty-column@{index}:nth-child( @{index}n+1) {
      clear: none;
    }
  @indexnext = @index - 1;
    .ty-column@{index}:nth-child( @{indexnext}n+1) {
      clear: left;
    }
  }
  .ty-columns(0) { }
} // media 979

@media (max-width: 767px) {
  .ty-columns(@columns);

  .ty-columns (@index) when (@index > 1) {
    .ty-columns(@index - 1);
    .ty-column@{index} {
      width: percentage((100 / 2) * 0.01);
    }
    .ty-column@{index}:nth-child( 2n) {
      clear: none;
    }
    .ty-column@{index}:nth-child( 2n+1) {
      clear: left;
    }
  }
  .ty-columns(0) { }
} // media 767

@media screen and (max-width: 480px) {
  .ty-columns(@columns);
  .ty-columns (@index) when (@index > 0) {
    .ty-columns(@index - 1);
    .ty-column@{index} {
      width: 100%;
    }
  }
  .ty-columns(0) { }
} // media 480
