/**********************************************************************************/
/***** Responsive Styles *****/



@media only screen and (min-width: 1800px) {
	.sb-search.sb-search-open, .no-js .sb-search {
		max-width: 1420px;
		left: 50%;
		margin-left: -697px;
		width:100%;
		}

        .shopping-bag .drop-menu {
         right: 50%;
         margin-right: -720px; 
         }     
		
		
}

a.boutiques-link {display: none;}  

@media only screen and (max-width: 1120px) {
a.boutiques-link {display: inline-block; padding: 0px 10px;}
a.boutiques-link:hover {padding: 0px 10px;}
}

@media only screen and (max-width: 960px) {
	body { -webkit-touch-callout: none !important; }
	a { -webkit-user-select: none !important; } /*prevent longclick ios menu appearing */

	#main_navigation {font-size: 16px; width: 57.33%;}	
	.top-promos {font-size: 15px;}
	.top-promos {overflow: hidden; height: 70px;}
	.promo-side, .promo-middle {float: left; width: 48%; margin: 10px .5%;}
	.promo-middle {margin: 10px 0 10px 1%;}
	.cart-container {font-size: 30px}

	.sp-thumbnail, .sp-thumbnails-container {display: none;}
	#mode_product_image {padding-left: 0 !important;}
	.mobilehide960 {display: none;}
	.pd_wishlist_holder select {width: 98%;}
	.pd_social {margin: 20px 0 20px 3.5%;}
}

@media only screen and (max-width: 800px) {
	.header {padding: 10px 0 0 0;}
	#main_navigation {float: left; 	text-align: center; width: 33.33%}
	.mobile-navigation {display: block; font-size: 35px; padding: 20px 0 0 0; text-align: left;}	
	.mobile-navigation i {font-size: 30px; margin-left: 6px; cursor: pointer; transition: none;}
	.logo {text-align: center; width: 33.33%;}
	.bag-container {font-size: 30px; width: 40px}
	.bag-container .fa-shopping-bag {
		font-size: 30px;
	}
        .bag-container i {margin: 0;}
	.bag-container .fa-heart-o, .cart-container .fa-user {display: none;}
	.shopping-bag a span {width: 25px; height: 15px;}
        .sb-search.sb-search-open {top: 0px;}
	.cust-info {display: none;}
	.bag-container {padding: 20px 0 0 0;}
        .sb-search.sb-search-open {width: 95%;} 
	.product_item span.wish a {display: none;}
	.product_item span.sizes {display: none;}
        .shopping-bag .drop-menu {display: none !important;}
        .checkout-step-one input[type="submit"] {width: 35%;}
        .checkout-content .twocol.checkbox {width: 100%; float: none;}
        .checkout-step-three .twocol {display: block; width: 100%;}
        .twocol .deliverycost {padding: 40px 0 0 0;}
 
	
	/* mobile menu */
	.navigation {
		display: none; 
		width: 260px;
		overflow: scroll;
		position: absolute;
		height: 100%;
		top: 0;
		background: #fff;
		left: -260px;
	}

	.nav-list {
		width: 100%;
		float: none;
		-moz-column-count: 1;
		-moz-column-gap: 0px;
		-webkit-column-count: 1;
		-webkit-column-gap: 0px;
		column-count: 1;
		column-gap: 0px;
	}


	body {right: 0px; position: relative;}
	.canvas-wrapper {position: relative; width: 100%; overflow-x: hidden;}
	.inner-wrapper {position: relative; right: 0;}
	body.mobile-menu-open .inner-wrapper {/*right: -260px;*/  transform: translate3d( 260px, 0, 0 ); -webkit-transform: translate3d( 260px, 0, 0 ); position: relative;}

	body.mobile-menu-open .exit-mobile-menu {webkit-transition: background 900ms ease; transition: background 900ms ease; cursor: pointer; box-shadow: none; display: block; position: absolute; background: rgba(0,0,0,0.5); top: 0; bottom: 0; left: 0; right: 0; z-index: 100; -webkit-tap-highlight-color: rgba(0,0,0,0); transform: translate3d( 0px, 0, 100 ); -webkit-transform: translate3d( 0px, 0, 100 );}

	body.mobile-menu-open .mobile-navigation i {
		position: absolute; 
		z-index: 200; 
		top: 0; 
		left: 0; 
		right: 0;
		bottom: 0;
		display: block; 
		padding: 20px 0 0 20px;
	}

	body.mobile-menu-open .navigation {display: block; overflow: scroll !important; height: 100%; border-right: 2px solid #f2f2f2; position: absolute; top: 0; /*left: -260px; */ transform: translate3d( 0px, 0, 0 ); -webkit-transform: translate3d( 0px, 0, 0 ); }
	body.mobile-menu-open #showLeft:before {content: "\f00d";}
	nav {line-height: 40px;}
	div.mobile-top-nav {display: block; background: #fafafa; border-bottom: 2px solid #f1f1f1; padding: 10px 0; font-size: 24px;}
	#main_navigation .mobile-top-nav a {display: block; width: 25%; float: left; margin: 0; padding: 10px 0;}
	.home-link {display: none;}
	.navigation{	
		background: #fafafa;
	}
	.navigation ul {
		padding: 20px;
	}	
	.navigation ul.nav-list {
		padding: 0 20px 20px 20px;
	}
	.navigation ul li {float: none; text-align: left; line-height: 50px;}
	.navigation ul li:hover {background: #fff;} 
	.navigation ul li span {background: none; padding: 0;}
	.navigation ul li:hover span {background: none; padding: 0;}

	.navigation ul li:hover .drop-menu {display: block;}
	.navigation ul li.mobileLiOpen {background: #fff;}
	.navigation ul li.mobileLiOpen .drop-menu {display: block; max-height: 1000px;}

	.mobileLi {position: relative;}
	.mobileLi i {
		position: absolute;
		left: 0;
		right: 20px;
		text-align: right;
		font-size: 20px;
		line-height: 50px;
		display: inherit;
	}
	.mobileLiOpen .fa-angle-down:before {content: "\f106";}

	.drop-menu {position: relative; background: #fff; border: none; left: 0; width: 100%; padding: 0; max-height: 0px; overflow: hidden; display: block !important; -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;}
	.drop-menu h2 {display: none;}
	.nav-feature {display: none;}
	.nav-list-left {width: 100%; float: none; padding: 0; margin: 0; border: none;}
	.nav-list-left ul {padding: 0;}
	.nav-center {width: 80%; float: none;}
	.mobilehide {display: none;}
	.nav-list-left ul:after {  content: ""; display: table; clear: both;}
	.navigation ul li.nav_whatsnew,
	.navigation ul li.nav_sale {
		margin-left: 10px;
	}
	#main_navigation .nav_whatsnew a {margin: 0 4px 0 10px;}
	.ft_hide {display: none;}
	.ft_column {width: 29.3333%;}
	.shopping-bag {font-size: 11px; height: 22px; width: 30px;}

	.mobile-shopping-bag {
		background-image: url(images/bag.png);
		background-image: url(images/bag.svg), none;
		float: left;
		font-size: 0;
		height: 14px;
		background-size: contain;
		background-repeat: no-repeat;
		width: 23px;
		text-align: center;
		padding: 12px 0 0 0px;
		font-family: 'open sans';
		margin: 0 0 0 15px;
	}

	.lft_column {display: none;}
	.rght_column {width: 100%;}
	.wysiwyg-content {}
	.home-fulltext {min-width: 350px;}
	.home-fulltext img {width: 150%; max-width: 150%; left: -25%; position: relative;}
}

@media only screen and (max-width: 650px) {
	.top-promos .small {display: none;}
	.top-promos {font-size: 13px; line-height: 20px;}
	.footer_first .ft_column {width: 46%;}
	.ft_column h4 {font-size: 11px; margin: 0;}
	.lft_column {display: none;}
	.rght_column {width: 100%;}
			.bag-wrapper {width: 28.33%;}
			.pd_images {width: 100%; float: none;}
			.sp-thumbnail, .sp-thumbnails-container {display: none;}
			#mode_product_image {padding-left: 0 !important;}
			.pd_detail {width: 100%; float: none; padding-left: 0;}
			.sp-horizontal .sp-arrows {width: 140% !important; left: -20% !important;}
			.pd_social {width: 100%; float: none; margin: 20px 0; padding: 0;}
			.pd_cross {display: none;}
			.pd_questionform .inputname, .pd_questionform .inputtel {width: 70%;}

			.checkout-guest, .checkout-login {float: none; width: 96%; border: 3px solid #f6f6f6;}
			.checkout-guest h3 {margin-top: 10px;}
			.checkout-guest:before {  content: "OR"; background: #edd3f6; border-radius: 30px; padding: 15px; margin: -45px auto 0px auto; position: absolute; left: 42%;}
			.checkout-step-one input {width: 55%;}
			.checkout-step-two input {width: 90%;}
			.checkout-step-four .twocol {float: none; width: 100%;}
			.pd_cross h3 span, h3.section-title span {padding: 0 20px;}
			.pd_cross h3, h3.section-title {border: 3px solid #f6f6f6; padding: 5px 0 15px 0;}
			.pd_cross h3:after, h3.section-title:after {border: none;}
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	.logo img {max-width: 120px; margin-top: 6px;}
	.top-promos {line-height: 16px;}
	.top-promos .small {display: none;}
	.promo-side, .promo-middle {padding: 5px 1%; width: 46%;}
	.cart-container {height: 28px;}
			.cart-container i {margin: 0 3px; font-size: 28px;}
			.top-promos .small {display: none;}
			.ft_hide {display: block;}
			.ft_column {width: 46%;}
			.ft_column i {font-size: 28px; margin: 5px 10px 10px 0;}
			.pd_images {width: 100%; float: none;}
			.sp-thumbnail, .sp-thumbnails-container {display: none;}
			#mode_product_image {padding-left: 0 !important;}
}


