body:before {
  display: none  !important;
}

@font-face {
  font-family: 'Oswald-Light';
  src: url('../media/fonts/oswald.eot');
  src: url('../media/fonts/oswald.woff2') format('woff2'),
       url('../media/fonts/oswald.eot?#iefix') format('embedded-opentype');
  src: url('../media/fonts/Oswald-Light.woff') format('woff'),
       url('../media/fonts/Oswald-Light.ttf') format('truetype'),
       url('../media/fonts/Oswald-Light.svg#Oswald-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


.activeConteiner{
     transform: translate3d( 260px, 0, 0 );
     transform: -webkit-translate3d( 260px, 0, 0 );
}
.activeBlock{
    visibility: visible!important;
    left: 0!important;
    transform: translate3d( -260px, 0, 0 )!important;
    transform: -webkit-translate3d( -260px, 0, 0 )!important;
}
 .ty-owl-controls{
    display: none!important;
}
textarea:focus, input[type="text"]:focus, 
input[type="tel"]:focus, 
input[type="email"]:focus, 
input[type="password"]:focus{
    outline-width:0!important;
}
.cp_mode__mobile{
    display: none;
}

.ty-shipping-options__total {
    font-weight: bold;
    .ty-price{
        color: #990000;
        font-weight: bold;
    }
}
.ty-price-slider{
    font-size: 10px;
}
.ty-horizontal-product-filters-dropdown__wrapper.open {
    background: #ffffff;
    color: black;
    border: 1px solid #dedede;
}
.ty-horizontal-product-filters-dropdown__content{
    border: 1px solid #dedede;
    margin-bottom: -1px;
}
.ty-horizontal-product-filters-dropdown__wrapper{
    background-color: transparent;
    border: 1px solid #fff;
    &:hover {
        background: transparent;
        border: 1px solid #dedede;
    }
}
.ty-horizontal-product-filters-dropdown a .ty-icon-cancel-circle,
.ty-product-filters__switch-right, 
.ty-product-filters__switch-down,
.ty-icon-cancel-circle{
    color: #000;
}
.ty-horizontal-product-filters{
    background-color: transparent;
}
.ty-horizontal-product-filters-dropdown__content .ty-product-filters__tools{
    background-color: transparent;
}

.cp_mode-product-img.ty-product-img.cm-preview-wrapper {
    width: 550px;
    border: 0;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
}
.ty-product-thumbnails__item.active,
.ty-product-thumbnails__item{
    border: 0;
}
.ty-product-bigpicture__as-thumbs  .cp_mode-product-thumbnails {
    width: 80px!important;
    margin: 0;
    margin-left: 50px;
}

.cp_mode-content-desc{
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    & label{
        float: none;
        padding: 6px 0;
        margin-right: 5px;
        width: auto;
        font-size: 11px;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 22px;
    color: #000;
    }
}
.cp_mode-button-container-btnwishlist .ty-cr-product-button {
    display: none;
}

.cp_mode-button-container-btnwishlist {
    display: block!important;
    margin-top: 6px;
}
.cp_mode-discount-coupon{
    & .ty-input-text {
        width: 300px;
        padding: 3px 38px 3px 10px;
        height: 32px;
        margin: 0;
    }
    & button.ty-btn-go {
        right: 0;
        width: 32px;
        height: 30px;
        background: #ccc;
        text-align: center;
        font-size: 16px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        &:hover{
            color: #fff;
            background: #000;
            & i{
                color: #fff;
            }
        }
    }
}
.ty-coupons__container {
    float: left;
    padding-left: 0;
    margin-top: 20px;
    width: inherit;
}

hr.ty-product-notification__divider{
    border:0;
}
.ty-cart-total{
    background: transparent;
}
.ty-cart-total__wrapper,
.ty-cart-statistic__total-list{
    border: 0;
}
.ty-cart-statistic__item{
    color: #000;
}
.ty-cart-statistic__total-title,
.ty-cart-statistic__total-value span{
    font-family: 'open sans';
    font-size: 22px;
    font-weight: bold;
    color: #000;
}
.ty-cart-statistic__title,
.ty-cart-statistic__value,
.ty-cart-statistic__value span{
    font-family: 'open sans';
    font-size: 18px;
    font-weight: 500;
}




.notification-content-extended{
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.2);
    border:0;
}
.ty-product-notification__buttons{
    background-color: transparent;
}
.notification-content-extended h1 {
    border-bottom: 0;
    background: transparent;
    text-align: center;
    font-size: 29px;
    font-weight: 100;
    text-transform: uppercase;
    font-family: 'oswald';
}


.ui-widget-overlay{
    background: #fff;
}
.ui-widget-header .ui-icon-closethick{
    color: #000;
    &:hover{
        color: #222;
    }
}
.ui-dialog .ui-dialog-titlebar{
    background-color: transparent;
    border: 0 ;
}
.ui-widget-content.ui-dialog{
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.2);
}
div.ui-dialog .ui-dialog-title {
    width: 100%;
    text-align: center;
    font-size: 29px;
    font-weight: 100;
    text-transform: uppercase;
    font-family: 'oswald';
}
.buttons-container-picker{
    border:0; 
}


.ty-orders-detail .ty-btn__text, 
.ty-orders-detail .ty-btn__text:hover {
    padding: inherit;
}
.ty-table tbody tr:nth-child(2n) {
    background: #ffffff;
}

.ty-pagination-container{
    & .ty-table {
        border: 1px solid #dee1e5;
    }
    & .ty-table th {
        background-color: #e8eff8;
        border-right: 1px solid #dee1e5;
        border-bottom: 1px solid #dee1e5;
        text-align: center;
        text-decoration: underline;
    }
    & .ty-table th {
        font-weight: bold;
        padding: 3px 5px 2px 5px;
        white-space: nowrap;
    }
    & .ty-table td:first-child {
        text-align: center;
    }
    & .ty-table td {
        vertical-align: middle;
        padding: 2px 5px;
    }
    & .ty-table tbody tr:last-child {
        border-bottom: 6px solid #e8eff8;
    }
}


.ty-orders-detail__table{
    &.ty-table {
        border: 1px solid #dee1e5;
    }
    &.ty-table th {
        background-color: #e8eff8;
        border-right: 1px solid #dee1e5;
        border-bottom: 1px solid #dee1e5;
        text-align: center;
        text-decoration: underline;
    }
    &.ty-table th {
        font-weight: bold;
        padding: 3px 5px 2px 5px;
        white-space: nowrap;
    }
    &.ty-table td:first-child {
        text-align: center;
    }
    &.ty-table td {
        vertical-align: middle;
        padding: 2px 5px;
    }
    &.ty-table tbody tr:last-child {
        border-bottom: 6px solid #e8eff8;
    }
    & .product-list-field .ty-control-group__label{
        float: none;
    }
}
.ty-orders-summary__wrapper{
    background: transparent;
    border: 0;
}
.ty-orders-notes__body,
.ty-profile-field__switch{
    border-color: #ccc;
}
.ty-caret .ty-caret-outer{
    border-right-color: #ccc;
}


.ty-section.ty-search-form{
    & .ty-section__title{
        background: #f3f1da;
        font-weight: bold;
        box-shadow: inset 0px -1px 0px 0px rgba(206, 206, 206, 1);
    }
    & .ty-section__body {
        border-top: 1px solid #d0cebe;
        background-color: #f6f5e4;
    }
}
form[name="orders_search_form"]{
    .ty-control-group__title {
        display: inline-block;
        margin-right: 20px;
        font-weight: normal;
    }    

    .ty-status-info {
        display: inline-block;
    }
    .ty-status-info label{
        display: inline-block;
        min-width: 100px;
        &:nth-child(5n){
            display: table-column;
        }
    }
}
.ty-wysiwyg-content ul{
    padding: 0;
}
.ty-checkout-complete__login-info .ty-wysiwyg-content h2{
    font-weight: 100;
}
.ty-section__body .buttons-container{
    background: transparent;
}
.side-grid{
    & .ty-sidebox__title {
        border-bottom: 1px solid #ccc;
    }
    & .ty-order-info__profile-field {
        background: #fcfcfc;
    }
}
.ty-checkout__billing-tabs .ty-tabs{
    border-bottom: 0;
}
.step_one_login{
    & .ty-checkout__login {
        background: #f6f6f6;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

#checkout_steps {
    & .ty-profile-field__item input {
        width: 100%;
    }
    & .ty-billing-last-name,
    & .ty-billing-first-name{
        display: inline-block;
        width: 50%;
        float: left;
        margin: 0!important;
        padding: 2px;
        box-sizing: border-box;
    }
    & .ty-profile-field__switch{
        border: 1px solid #ccc;
    }
    .ty-checkout-buttons{
        border-color: transparent;
    }
}
.ty-checkout__login a.ty-password-forgot__a{
    display: none;
}
.cp_mode-step__title-complete{
    & i.cp_mode-step__title-icon.ty-icon-ok{
        color: #07D039;
    }
}
.cp_mode-step__container .cp_mode-step-title__inner,
.cp_mode-step__container .cp_mode-step__title-txt{
    color: #6b7b7b;
}
.cp_mode-step__title-active,
.cp_mode-step__title,
.cp_mode-step__title-complete{
    margin: 40px 0 40px 0;
    padding: 0 0 15px 0;
    text-align: center;
    text-transform: uppercase;
    background: none;
    &:after {
        content: '';
        visibility: visible;
        display: block;
        margin-top: -20px;
        border-bottom: 4px solid #f6f6f6;
        position: relative;
        z-index: 1;
    }
}
.cp_mode-step-title__inner{
    position: relative;
    padding: 0 50px;
    font-family: 'oswald';
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #ffffff;
    z-index: 2;
    display: inline-block;
}
.cp_mode-step__title-txt{
    font-family: 'oswald';
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 6px;
}
.ty-checkout-buttons,
.ty-step-one .ty-checkout-buttons{
    background: transparent;
    margin-top: 50px;
    text-align: center;
}
span.ty-checkout__title {
    display: block;
    text-align: center;
}
.ty-checkout__title-icon {
    color: #000000;
}

.cp_login_buttons,
.cp_login_buttons__login-recovery{
    & button.ty-btn__secondary.ty-btn,
    & .ty-btn__login {
        background: @primary_button;
        padding: 10px 40px;
        border: 1px solid @primary_button;
        border-radius: 3px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        font-family: 'open sans';
        font-weight: 600;
        line-height: 1.375;
        text-transform: uppercase;
        text-decoration: none;
        &:hover{
            opacity: 0.85;
        }
    }
    &  .cp_mode-password-forgot__a {
        display: inline-block;
        margin: 20px 7px;
        text-decoration: underline;
        font-size: 13px;
    }

}

.ty-profile-field__buttons{
    & .ty-btn{
         background: @primary_button;
        padding: 10px 40px;
        border: 1px solid @primary_button;
        border-radius: 3px;
        text-align: center;
        font-size: 14px;
        color: #fff;
        font-family: 'open sans';
        font-weight: 600;
        line-height: 1.375;
        text-transform: uppercase;
        text-decoration: none;
        &:hover{
            opacity: 0.85;
        }
    }
}


.main-content-grid-rlogin{
    & .ty-recover-password,
    & .ty-login{
        width: 290px;
        margin: 0 auto;
        display: block;
    }
    & input[type="text"], 
    & input[type="password"], 
    & textarea, 
    & select {
        padding: 10px;
        height: auto;
        border-color: #ccc;
    }
    .ty-password-forgot__a{
        display: none;
    }
}



h1.ty-mainbox-title{
    font-size: 32px;
    font-family: 'oswald';
    text-transform: uppercase;
    font-weight: 100;
}
h1,
.ty-wysiwyg-content h1{
    font-size: 28px;
    font-family: 'oswald';
    font-weight: 100;
}
.wysiwyg-content {
    font-size: 16px;
    font-family: 'open sans';
}
.wysiwyg-content p {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
}
h1.ty-mainbox-title span {
    font-size: 32px;
    text-transform: uppercase;
}

li.first-level a span, h1, 
.nav-list-left h2, .promo-section__title, 
.footer__menu__title, 
.mainbox-title span, 
.pd_detail .bag_btn__wrapper .add_to_bag, 
.mainbox-cart-title{
    font-size: 32px;
    font-weight: 100;
    font-family: 'oswald';
}

.our-brands-grid{
    margin-bottom: 0;
}
.brand.cp_mode_brand {
    text-align: center;
    & div{
        background: #f6f6f6;
        padding: 2px 6px;
        border-radius: 3px;
        margin: 0 4px 10px 4px;
        display: initial;
        & a{
            font-size: 13px;
            color: #000;
            font-family: 'open sans';
            text-transform: none;
        }
    }
}
.cp_mode_sku-item {
    text-align: center;
}

.cp_mode_sku-item .ty-control-group__label {
    float: none;
    font-family:"open sans";
    font-size:13px;
}

.cp_mode-grid-list__item .ty-btn i{
    position: initial;
    top: initial;
    margin-right: initial;
}
.ty-pagination__bottom {
    border-top: 0;
    text-align: center;
}

.ty-pagination__item:hover {
    background: transparent;
    padding: 6px 10px;
    border: 1px solid #000;
}
.ty-pagination__selected{
    padding: 6px 10px;
}
.ty-pagination__item {
    padding: 6px 10px;
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    color: #000;
    border-radius: 3px;
    text-decoration: none;
}

.cp_mode_sort-container {
    width: 100%;
    display: block;
    height: auto;
    margin-bottom: 10px;
    .clearfix();
    & .cp_mode_sort-dropdown_rigth{
        float: right;
        margin-right: 20px;
    }
    & .cp_mode_sort-dropdown_left{
        float: left;
        margin-left: 20px;
    }
    & .cp_mode_sort-container__views-icons{
        display: none;
    }
    & .ty-sort-dropdown__wrapper,
    & .ty-sort-dropdown__wrapper.open {
    background: #f6f6f6;
    border-radius: 3px;
    color: #000;
    font-weight: bold;
    }

    & .ty-sort-dropdown__content {
        border: 0;
        border-radius: 2px;
        background: #f6f6f6;
        margin-top: 14px;
    }

    & .ty-sort-dropdown__content:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #f6f6f6;
        position: absolute;
        top: -6px;
        left: 25px;
    }
}


.ty-captcha__code {
    margin-top: 7px;
}

.ty-product-filters__wrapper {
    background: #fff;
}
input[type="text"], 
input[type="password"], 
textarea, select {
    border: 1px solid #ccc;
    padding: 10px;
    height: auto;
}
textarea:focus, 
.tygh-content input[type="text"]:focus, 
.tygh-content input[type="tel"]:focus, 
.tygh-content input[type="email"]:focus, 
.tygh-content input[type="password"]:focus{
    outline: #f6f6f6 0 5px;
    outline-color: #f6f6f6;
    outline-style: auto;
    outline-width: 5px;
    border-color: rgb(177, 177, 177);
}
.ty-range-slider .ui-slider-range {
    background: #3c3839;
}

.ty-range-slider .ui-slider-handle {
    background: #ffffff;
    border: 5px solid #000;
    border-top-width: 5px;
    border-bottom-width: 5px;
    height: 11px;
    border-radius: 50%;
}
.ty-range-slider {
    border-color: #000;
    background: #222;
}
.ty-product-filters__switch {
    border-bottom: 1px solid #ffffff;
}

.cp_mode_wishlist_view{
    & .cp_mode_TLink{
        text-decoration: underline;
        cursor: pointer;
        webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        font-size: 35px;
        color: #000;
        & i.fa{
            font-size: 35px;

        }
        & .fa:hover {
            color: #666666;
        }
        & .fa-heart-o:hover:before {
            content: "\f004" !important;
            color: #d34d4d;
        }
    }
}
.cp_mode_shopping-bag,
.cp_mode_wishlist_view,
.cp_mode_search_block{
    display: inline-block;
    margin: 0 10px;
    float: right;
}
.cp_mode_wishlist_view {
    line-height: 65px;
}

.cp_mode_search_block {
    line-height: 75px;
}

.cp_mode_shopping-bag {
    margin-right: 0;
    width: inherit;
}
.ty-dropdown-box__title.cp_mode_shopping-bag-title:hover,
.ty-dropdown-box__title.cp_mode_shopping-bag-title.open{
    background: transparent;
}
.ty-minicart-title.ty-hand {
    background: #edd3f6;
    position: absolute;
    top: 2px;
    right: 4px;
    width: 30px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    padding: 5px 0;
    border-radius: 30px;
}
.cp_mode_shopping-bag__content{
    z-index: 99;
    background: #f6f6f6;
    padding: 40px 0 20px 0;
    border-top: 25px solid #fff;
    border-bottom: 8px solid #f1f1f1;
    border-right: 0;
    margin: 0;
    border-left: 0;
}
.cp_mode-cart-content__buttons{
    width: 100%;
    padding: 0 55px 0 55px;
    box-sizing: border-box;
    & .cp_mode_btn__mode{
        background: none;
        color: #000;
        border: 1px solid #000;
        padding: 5px 10px;
        margin: 10px 5px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        font-family: 'open sans';
        &:hover,
        &.cp_mode_btn__mode_click{
            background: #000;
            color: #ffffff;
            border: 1px solid #000;
        }
    }

}
.cp_mode_cart-items__list-item .ty-cart-items__list-item-tools{
    right: 15px;
}
.ty-cart-items__list-item.cp_mode_cart-items__list-item {
    padding: 10px 0px;
    background: #fff;
    margin: 0 0 12px 0;
    position: relative;
    border-bottom: 0;
}
.cp_mode_cart_title{
    padding: 0;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}
.cp_mode_shopping-bag__content__empty{
    padding: 0;
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
}
.cp_mode_shopping-bag-title a{
    text-decoration: underline;
    cursor: pointer;
    webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 35px;
    color: #000;
    & i.fa{
        color: #000;
        margin: 0;
        font-size: 35px;
    }
}
.style_features,
body{
    overflow-x: hidden;
}

.activeLeft40{
    margin-left: 40px;
}
/* МЕНЮ */
body .row-fluid .cp_visible__mobile_section__menu{
    visibility: hidden;
    display: none;
}
    .cp_visible__mobile_section__menu{
    left: -2000px;
    position: absolute;
    top: 0;
    background: #fafafa;
    z-index: 1000;
    width: 260px!important;
    left: -5000px;
    height: 100%;
}

.cp_mode-menu__item-toggles{
    display: none;
}
.mobile-top-nav {
    display: none;
    background: #fafafa;
    border-bottom: 2px solid #f1f1f1;
    padding: 10px 0;
    width: 260px;
    box-sizing: border-box;
    font-size: 24px;
}
.mobile-top-nav a {
    display: block;
    width: 25%;
    float: left;
    margin: 0;
    padding:0 10px;
    box-sizing: border-box;
    & .fa{
        font-size: 24px;
    }
}
.cp_visible__mobile_section__menu{
    & .cp_mode-menu_horizontal{
        width: 260px;
        box-sizing: border-box;
    }
    & .cp_mode-menu_horizontal .cp_mode-menu_horizontal-fli{
        display: block;
        width: 80%;
        padding: 0 20px;
        box-sizing: border-box;
        line-height: 50px;
    }
    & .cp_mode-menu_horizontal .cp_mode-menu_horizontal-fli > a{
        background-color: transparent;
        font-size: 16px;
        line-height: 30px;
    }
    & .cp_mode-menu_horizontal-menu__submenu.cp_mode-menu__submenu {
        position: relative;
        background: transparent;
        border-top: 0;
        border-bottom: 0;
    }

    & .cp_mode-menu__submenu-link {
        font-size: 16px;
    }
    & .cp_mode-menu__submenu-items_3levels_cols_block,
    & .cp_mode-menu__submenu-items_3levels_cols__submenu_block,
    & .cp_mode-top-mine__submenu-col{
        width: 100%;
    }
    & .cp_mode-menu__item-toggles{
        float: right;
        line-height: 30px;
        border-bottom:2px solid transparent!important;
    }
}
#hidenLeft{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 260px;
    width: 200%;
    background: rgba(0, 0, 0, 0.4);
    font-size: 30px;
    padding: 7px 0 0 15px;
}



.tygh-top-panel .ty-menu__items.cm-responsive-menu{
    background: transparent;
}

.tygh-top-panel .ty-menu__items.cm-responsive-menu > li a{
        background: #ffffff;
    padding: 5px 3px;
    border-radius: 1px;
    font-family: 'Oswald-Light';
    letter-spacing: 1px;
    font-weight: 100 !important;
    webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
}
.tygh-top-panel .ty-menu__items.cm-responsive-menu > li:hover a {
    padding: 5px 3px;
    border-radius: 1px;
    border-bottom: 2px solid #000;
}

/* МЕНЮ */

.tygh-top-panel .top_panel__links {
    margin: 0;
    padding: 8px 5px;
    color: #333333;
    font-size: 12px;
    text-decoration: none;
}
.tygh-top-panel .top_panel__links:hover {
    background: #f6f6f6;
}


.cp_mode_fwcc [class*="span"] {
    max-width: @fluidContainerMaxWidth;
    margin: 0 auto!important;
    display: block;
    float: none;
}

.cp_mode__full_width,
.cp_mode_promo_section__fullwidth{
    max-width: 100%!important;
    padding: 0!important;
}



/* --------HEADER->LOGO+MENU-------- */
.logo {
    text-align: left;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}
.logo img {
    max-width: 130px; 
    height: auto;
}
.cp_mode-menu_horizontal{
    display: inline-block;
    box-sizing: border-box;
    margin-left: 120px;
    vertical-align: top;
    line-height: 70px;
    font-size: 20px;
    font-weight: 600;
}
.cp_mode-menu_horizontal .cp_mode-menu_horizontal-fli{
    display: inline-block;
    padding: 2px 0;
}
.cp_mode-menu_horizontal .cp_mode-menu_horizontal-fli > a{
    margin: 0 10px;
    color: #000000;
    text-decoration: none;
    background: #ffffff;
    padding: 5px 3px;
    border-radius: 1px;
    font-family: 'oswald';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.cp_mode-menu_horizontal .cp_mode-menu_horizontal-fli:hover a{
    padding: 5px 3px;
    border-radius: 1px;
    border-bottom: 2px solid #000;
}
@media screen and (min-width: 801px) {
    .cp_mode-menu_horizontal .cp_mode-menu_horizontal-fli:hover .cp_mode-menu_horizontal-menu__submenu{
        display: block;
    }
}

.cp_mode-menu__submenu{
    display: none;
    position: absolute;
    z-index: 99;
    background: #f6f6f6;
    width: 100%;
    left: 0;
    padding: 0;
    border-top: 20px solid #fff;
    border-bottom: 8px solid #f1f1f1;
}
.cp_mode-menu__submenu-items{
    line-height: 1.5;
}
.cp_mode-top-mine__submenu-col a,
.cp_mode-menu_horizontal-menu__submenu-simples a{
    margin: 0 10px;
    color: #000000;
    text-decoration: none;
    padding: 2px 3px;
    font-family: 'oswald';
    text-transform: normal;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 16px;
    &:hover{
        padding: inherit;
        border-radius: 1px;
        border-bottom: 0;
    }
}
.cp_mode-top-mine__submenu-col a{
    font-size: 20px;
    text-transform: uppercase;
}
.cp_mode-menu__submenu-list_3levels_cols__submenu a,
.cp_mode-menu_horizontal-menu__submenu-simples a{
    float: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    margin: 0 10px;
    color: #000000;
    font-family: 'open sans';
    text-decoration: none;
    &:hover{
        background: #fff;
    }
}
.cp_mode-menu_horizontal .cp_mode-menu_horizontal-fli:hover .cp_mode-top-mine__submenu-col a,
.cp_mode-menu_horizontal .cp_mode-menu_horizontal-fli:hover .cp_mode-menu__submenu-list_3levels_cols__submenu a,
.cp_mode-menu_horizontal .cp_mode-menu_horizontal-fli:hover .cp_mode-menu_horizontal-menu__submenu-simples a{
    padding: inherit;
    border-radius: 1px;
    border-bottom: 0;
}
.cp_mode-top-mine__submenu-col {
    line-height: 2;
    width: 24%;
    vertical-align: top;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
}
.cp_mode-menu__submenu-items_3levels_cols,
.cp_mode-menu__submenu-items{
    width: 100%;
    @media screen and (min-width:1400px) {
       max-width: @fluidContainerMaxWidth;
   }
   @media screen and  (max-width:1399px) {
       max-width: 1200px;
   }
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    display: block;
}
.cp_mode-menu__submenu-items_3levels_cols__submenu_block{
    line-height: 2;
    width: 75%;
    vertical-align: top;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
}
.cp_mode-menu__submenu-items_3levels_cols_block {
    position: relative;
    width: 49%;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.cp_mode-menu__item-link-ico {
    margin: 0 10px;
    color: #000000;
    line-height: 1;
    font-size: 20px;
    text-decoration: none;
}

.cp_mode_home_ico {
    padding: 5px 0 0 0;
}

/* --------HEADER->LOGO+MENU-------- */


.cp_mode_promo_section__fullwidth{
    background: #fafafa;
}
/* ----promo-section---- */
.promo-section_conteiner{
    background: #fafafa;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
    display: block;
}
.promo-section {
    margin: 0px 0;
    background: #fafafa;
    padding: 0;
}
.promo-section__wrapper {
    margin: 0 0 0 -.5%;
}
.promo-section__box {
    width: 31.8%;
    background: #fff;
    margin: 10px 0 10px .5%;
    float: left;
    border-radius: 2px;
    text-align: center;
    padding: 5px 0.5%;
    /* border-bottom: 2px solid #f2f2f2; */
    min-height: 35px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.promo-section__box--selected {
    background: #f6e2fd;
    color: #000;
    font-weight: 500;
    /*border-bottom: 2px solid #E4C3EF; */
}
.promo-section__title {
    font-size: 16px;
        padding: 5px 0 0 0;
}
.promo-section__subtitle {
    font-size: 10px; display: none;
}
@media only screen and (max-width: 960px) {
    .promo-section__title {
        font-size: 15px;
    }
}
@media only screen and (max-width: 900px) {
    .promo-section__subtitle {
        display: none;
    }
    .promo-section__title {
        font-size: 13px;
    }
}
@media only screen and (max-width: 450px) {
    .promo-section__wrapper {
        margin: 0;
        padding: 10px 0;
    }
    .last-box {display: none;}
    .promo-section__box {
        min-height: inherit;
    }
    .promo-section__box {
        float: none;
        width: auto;
        margin: 5px 0;
        padding: 5px 15px;
    }
}
/* ----promo-section---- */

/* ВИД ТОВАРА СКРОЛЛЕР И ГРИД ЛИСТ */
.cp_mode-scroller-list__item:hover img,
.cp_mode-grid-list__item:hover img,
.cp_mode-grid-list__image:hover img,
.product_item:hover img,
ul.site-rss li:hover img {opacity: 0.7;
-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.cp_mode-scroller-list__item_img,
.cp_mode-grid-list__image{
    overflow: hidden; 
    position: relative; 
    text-align: center;
}
.cp_mode-grid-list__image{
    padding: 0;
    border: 0;
}
.cp_mode-grid-list__item img ,
.cp_mode-scroller-list__item img {
    max-width: 280px;
}
.cp_mode-scroller-list__item,
.cp_mode-grid-list__item{
    margin-bottom: 30px;
}

.already-in-wishlist .fa-heart-o:before,
.already-in-wishlist__ico:before{
    content: "\f004" !important;
    color: #d34d4d;
    color:red;
}

.cp_mode-grid-list__item span.wish a:before{
    content: '';
}
.cp_mode-grid-list__item span.wish a,
.cp_mode-scroller-list__item span.wish a{
    position: absolute;
    top: 10px;
    right: -35px;
    color: #000;
    background: rgba(255,255,255,0.7);
    font-size: 26px;
    padding: 3px 8px;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 10;
    opacity: 0;
}
.cp_mode-grid-list__item:hover span.wish a,
.cp_mode-scroller-list__item:hover span.wish a{
    right: 10px;
    opacity: 1;
    border-radius: 50%;
}

.cp_mode-grid-list__item:hover span.wish a:hover,
.cp_mode-scroller-list__item:hover span.wish a:hover{
    background: rgba(220,220,220, 0.7);
} 
.cp_mode-grid-list__item:hover span.wish a:visited ,
.cp_mode-scroller-list__item:hover span.wish a:visited {
    color: #e20000;
}

.cp_mode-grid-list__item span.wish:hover a ,
.cp_mode-scroller-list__item span.wish:hover a {
    background: rgba(220,220,220, 0.7);
}

.cp_mode-grid-list__item span.wish a i:hover.fa-heart-o:before,
.cp_mode-scroller-list__item span.wish a i:hover.fa-heart-o:before {
    content: "\f004" !important;
    color: #d34d4d;
}





.cp_mode-grid-list__item span.sizes ,
.cp_mode-scroller-list__item span.sizes {
    position: absolute;
    top: 0px;
    left: -35px;
    color: #000;
    background: rgba(255,255,255,0.7);
    font-size: 26px;
    padding: 6px 5px 0px 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    font-size: 14px;
    line-height: 22px;
}

.cp_mode-grid-list__item:hover span.sizes,
.cp_mode-scroller-list__item:hover span.sizes {
    left: 10px; 
    opacity: 1;

}
.cp_mode-grid-list__item span.sizes ul ,
.cp_mode-scroller-list__item span.sizes ul {
    margin: 0; 
    padding: 0;
    position: absolute;
    bottom: 0;
}
.cp_mode-grid-list__item span.sizes ul li ,
.cp_mode-scroller-list__item span.sizes ul li {
    list-style: none; 
    padding: 0; 
    margin: 0;
}

.cp_mode-grid-list__item .product-title,
.cp_mode-grid-list__item .ty-grid-list__price{
    text-align: center;
}

.cp_mode-grid-list__item .product-title,
.cp_mode-scroller-list__item .product-title{
    display: block;
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 300;
}
.cp_mode-grid-list__item .ty-simple-list__price span ,
.cp_mode-scroller-list__item .ty-simple-list__price span {
    font-size: 13px;
    line-height: 1;
    font-weight: 900;
    color: #000;
}
/* ВИД ТОВАРА СКРОЛЛЕР И ГРИД ЛИСТ */
ul.site-rss {
    margin-right: -5%;
}
ul.site-rss li {
    width:28%;
    display: inline-block; 
    vertical-align: top; 
    margin-right:5%}
ul.site-rss li img {
    width: 100%; 
    height: auto;
}
ul.site-rss li.delim {
    display: none;
}
.site-rss span.text {
    display: none;
}

ul.site-rss li strong a {
    text-decoration: none;
    background: #fff;
    margin: -50px 15px 0 15px;
    display: block;
    padding: 20px 10px;
    position: relative;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.091);
    font-family: 'oswald';
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.product_item:hover img, 
ul.site-rss li:hover img {
    opacity: 0.7;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/** RSS Categories **/

.header-area ul.site-rss {
    width: 90%;
    margin: 0 auto 50px;
    max-width: 1400px;
    }
.header-area ul.site-rss li {
    margin: 0;
    width: 30%;
}
.header-area ul.site-rss li.delim {
    display: inline-block; 
    width: 4%;
}

@media only screen and (max-width: 800px) {
    .header-area ul.site-rss {
        display: none;
    }
}






/* ----картинка по середине + кнопка---- */
.home-fulltext * {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.home-fulltext {
    position: relative;
    overflow: hidden; 
    width: 100%;
}
.home-fulltext img {
    position: relative; 
    z-index: 0; 
    width: 100%;
}
.home-fulltext-text {
    position: absolute; 
    width: 100%; 
    text-align: center; 
    top: 35%;
} 
.home-fulltext-text h2 {
    font-size: 50px; 
    line-height: 60px; 
    font-family: 'Oswald-Light'; 
    letter-spacing: 1px; 
    text-transform: uppercase; 
    font-weight: 300; 
    color: #fff; 
    margin: 0 0 30px 0;
}
.home-fulltext-text .home-cta {
    font-family: 'Oswald-Light'; 
    border: 1px solid #fff; 
    padding: 5px 25px; 
    text-transform: uppercase; 
    font-weight: 300; 
    letter-spacing: 1px; 
    font-size: 18px; 
    color: #fff; 
    text-decoration: none;
}
.home-fulltext:hover .home-fulltext-text .home-cta {
    background: #ffffff; 
    color: #000000;
}


/* --------------Бренды-------------- */
.home-logos {
    display: flex; 
    justify-content: 
    space-between;
}
.home-logos a {
    display: inline-block; 
    width: 18%;
}
.home-logos a:hover {
    opacity: 0.5;
}


.cp_ctext_about_mode{
    & p{
        padding: 0;
        font-size: 16px;
        font-weight: 300;
    }
    & a {
        font-size: 16px;
        font-weight: 300;
        text-decoration: underline;
        color: #000;
    }
}

/* Wrappers
 * ****************mainbox_text_center_or_line****************************** */

.ty-mainbox2-body {
    padding: 0px;
}
.ty-mainbox2-title {
    margin: 40px 0 40px 0;
    padding: 0 0 15px 0;
    text-align: center;
    text-transform: uppercase;
    background: none;
}
.ty-mainbox2-title:after {
    content: '';
    visibility: visible;
    display: block;
    margin-top: -20px;
    border-bottom: 4px solid #f6f6f6;
    position: relative;
    z-index: 1;
}
.ty-mainbox2-title span {
    position: relative;
    padding: 0 50px;
    font-family: 'Oswald-Light';
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #ffffff;
    z-index: 2;
}

@media only screen and (max-width: 650px) {
    .ty-mainbox2-title {   
        border: 3px solid #f6f6f6;
        padding: 5px 0 5px 0;
    }
    .ty-mainbox2-title:after {
        display: none;
    }
    .ty-mainbox2-title span {
        padding: 0 20px;
    }
}


/* -----------FOOTER-----------
 */.footer_first {
    background: #ffffff;
    max-width:1400px;
    width: 100%;
    padding: 0px 5% 40px 5%;
    border-radius: 5px;
    margin-bottom: 55px;
    box-sizing: border-box;

}
.ft_column {
       width: 21%;
       float: left;
       padding: 40px 2% 0;
}
.ft_column h3 {
    margin: 0 0 10px 0; 
    font-size: 16px; 
    text-transform: uppercase;
}
.ft_column ul {
    margin: 0; 
    padding: 0;
}
.ft_column ul li {
    list-style: none;
}
.ft_column ul li a{
    color: #000; 
    font-size: 13px; 
    text-decoration: none; 
    font-weight: 300; 
    text-transform: capitalize; 
    line-height: 18px;
}
.ft_column ul li a:hover {
    background: #fff;
}
.ft_column i {
    float: left; 
    font-size: 35px; 
    color: #cccccc; 
    margin: 5px 20px 0 0;
}
.ft_column h4 {
    font-size: 14px; 
    font-weight: 300; 
    margin: 0;
    overflow: hidden;
}
@media screen and (max-width: 650px) {
    .footer_first .ft_column {width: 46%;}
    .ft_column h4 {font-size: 11px; margin: 0;}
    .lft_column {display: none;}
    .rght_column {width: 100%;}
}
@media screen and (max-width: 650px) {
    .home-fulltext {
        min-height: 160px;
    }
    .home-fulltext-text {
        top:20%;
    }
    .home-fulltext-text h2 {
        font-size: 25px; 
        line-height: 30px; 
        margin: 0 0 15px 0;
    }
    .home-fulltext-text .home-cta {
        background: #ffffff; 
        color: #000000;
    }
    .homepage-three.middle {
        display: none;
    }
    .homepage-three {
        width: 48%; 
        margin: 50px 1%;
    }
    ul.site-rss {
        margin: 0;
    }
    ul.site-rss li {
        width: 100%; 
        margin: 0 0 40px 0;
    }
}
@media  screen and (max-width: 800px){
    .home-fulltext img {
        width: 150%;
        max-width: 150%;
        left: -25%;
        position: relative;
    }
}
@media (max-width: 767px){
    .tygh-header > div {
        padding: 0px 0px;
    }
}
/* social */
.social-links {
    text-align: right;
}
.social-links a {
    padding: 5px; 
    font-size: 36px; 
    margin: 0 0 5px 16px;
    color: #000;
}
@media (max-width: 767px) {
    .social-links {
        text-align: center;
    }
}


/* Fix position for Add email field */
.ty-footer-form-block__form{
    width: auto;
    margin: 0!important;
}
.ty-footer-form-block{
    margin: 0 0 0 0;
}
.ty-footer-form-block__form.ty-control-group {
    padding: 0;
}
.ty-footer-form-block {
    margin-top: 5px;
    margin-bottom: 40px;
    vertical-align: top;
}
.subscribe_form--footer .ty-input-text {
    display: inline-block;
    width: 200px;
    margin: 0px -3px 0;
    padding: 10px;
    border: 1px solid #ffffff;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 14px;
    font-family: 'open sans';
    color: #000;
    background: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    height: auto;
    outline: none;
}

.subscribe_form--footer .ty-input-text:focus{
    width: 280px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-color: transparent;
}
.subscribe_btn_go {
    display: inline-block;
    width: 150px;
    padding: 10px 5px;
    margin: 0;
    margin-top: -3px;
    border: none;
    font-family: 'open sans';
    font-size: 18px;
    line-height: 1.2;
    color: black;
    background: #ffff00;
    cursor: pointer;
    -webkit-appearance: none;
    &:hover{
        color: #000;
    }
}
[name="subscribe_form"] .help-inline{
    position: absolute;
    background: #F5EAEA;
    padding: 10px;
    left: -3px;
    right: 0;
}
@media (max-width: 767px) {
    .subscribe_form.form-field.subscribe_form--footer {
        text-align: center;
        padding-top: 10px;  
    }
    .subscribe_form--footer .error-message {
        margin: 0 auto;
    }
    .subscribe_btn_go{
        margin-top: 0;
    }
}

.cp_mode_footer{
    & .row-fluid {
       @media screen and (min-width:1400px) {
           max-width: @fluidContainerMaxWidth;
       }
       @media screen and  (max-width:1399px) {
           max-width: 1200px;
       }
        min-width: @fluidContainerMinWidth;
        margin: 0 auto;
    }
    & .ty-mainbox-title{
        margin: 0 0 10px 0;
        font-size: 16px;
        text-transform: uppercase;
        font-family: 'Oswald-Light';
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        letter-spacing: 1px;
        font-weight: 100 !important;
    }
    & .ty-menu-vertical ul,
    & ul,
    & .ty-menu-vertical .ty-menu__submenu-item-header{
        margin: 0;
        padding: 0;
        border: 0;
        min-height: 0;
    }
    & .ty-menu-vertical ul li,
    & li{
        list-style-type: none;
        display: block;
        min-height: 22px;
        margin: 0;
        padding: 0;
    }
    & .ty-menu-vertical ul li a,
    & ul li a{
        min-height: 0;
        color: #000;
        font-size: 13px;
        text-decoration: none;
        font-weight: 300;
        text-transform: capitalize;
        line-height: 18px;
        font-family: 'open sans';
        padding: 0;
        margin: 0;
        display: inline-block;
    }
    & ul.ty-menu__items li.ty-menu__item:hover a,
    & ul li:hover a{
        color: #000;
        background: #fff;
        display: initial;
    }
}

#tygh_footer {
    margin-top: 10px;
    padding: 30px 0;
    border: 0;
    background: @footer_bg;
}
.footer-copyright,
.ty-menu__items{
    background: @footer_bg;
}

.tygh-top-panel .top_panel__links,
.custinfo-dropdown {
    line-height: 32px;
}
.tdu{
    text-decoration: underline;
    &.text-button{
        font-size: 12px;
    }
}
/* -------------TEMPLATE TEMPLATE_URL------------- */
.cp_mode_TLink{
    font-size: @links_font_siz;
    color: @base;
    font-family: @links_font;
    & i.fa{
        font: normal normal normal 14px/1 FontAwesome;
    }
}
/* -------------TEMPLATE TEMPLATE_URL------------- */

/* ---------------------БЛОГ CSS--------------------- */
.ty-blog .ty-blog__item {
    border-bottom: 1px solid #f6f6f6;
}
.ty-blog-grid + div .ty-sidebox__title,
.ty-blog-sidebox .ty-blog-sidebox__item {
    border-bottom: 1px solid #f6f6f6;
}
/* ---------------------БЛОГ CSS--------------------- */


/* ----TEMPLATE CATEGORIES_DROPDOWN_HORIZONTAL---- */

[class^="bschild_"]{
    position: absolute;
    right: 5px;
    top: 0;
    padding: 5px;
    & i.fa{
        font-size: 16px;
    }
}
.cp_mode_menu__submenu-item-header {
    width: 100%;
    position: relative;
}
.cp_mode_menu__submenu{
    display: none;
}
.cp_mode_menu__submenu {
    padding-left: 15px;
}
.cp_mode_menu__item-link {
    padding: 3px 5px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}
.cp_mode_menu__item-link,
.cp_mode_menu__submenu-link {
    &:hover{
        font-weight: 900;
        background: #f6f6f6;
    }    
}
.cp_mode_menu__item-active>a,
.cp_mode_menu__submenu-item-header-active>a{
    font-weight: 700;
}
.cp_mode_menu__submenu-link {
    padding: 3px 5px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

.cp_mode_menu__item {
    margin: 5px 0;
    position: relative;
    width: 100%;
}
/* ----TEMPLATE CATEGORIES_DROPDOWN_HORIZONTAL---- */

/* -------------TEMPLATE CP_MODE_SEARCH------------- */
.cp_mode_search_block{
    display: inline-block;
    & .cp_mode_fa{
        font-size: 35px;
        color: #000;
    }
}
.cp_mode_search_block_form {
    display: none;
    position: absolute;
    width: 100%;
    top: 25px;
    left: 0;
    background: #fff;
    padding: 5px 10px;
    box-sizing: border-box;
    z-index: 5;

}
.cp_mode_search_block_form.active{
    width: 0;
}
.cp_mode_fa_csearch_close{
    font-size: 35px;
    color: #000;
    & i.fa{
        font-size: inherit;
    }
}

.cp_mode_search_block_form_body{
    position: relative;
    width: @fluidContainerMaxWidth;
    margin: 0 auto;
    display: block;
    & .ty-search-magnifier{
        display: none;
    }
}
.cp_mode_search_block_form_body .cp_mode_search-block__input{
    display: inline-block;
    width: 90%;
    margin: 0;
    height: auto;
    padding: 15px 0px 15px 3px;
    border: none;
    font-size: 20px;
    outline-width:0;
    outline: none;
    color: #000;
    background: #fff;
    box-sizing: border-box;
    &.cm-hint {
        color: #000 !important;
    }
    &:hover,
    &:focus{
        outline-width:0;
        color: #000;
        outline: none; 
    }
}

/* -------------TEMPLATE CP_MODE_SEARCH------------- */

/* -------------TEMPLATE TEXT_LINK_DROPDOWN------------- */
.custinfo-dropdown {
    display: inline-block;
}
.custinfo-dropdown a, a.boutiques-link {
    margin: 0;
    padding: 8px 10px;
    color: #333333;
    text-decoration: none;
    -webkit-transition: none;
    font-size: 12px;
    -o-transition: none;
    transition: none;
}
.custinfo-menu li a:hover,
.custinfo-dropdown:hover a, a.boutiques-link:hover {
    margin: 0;
    padding: 8px 10px;
    background: #f6f6f6;
}
.custinfo-dropdown .quick-links {
    padding: 2px;
    text-align: left;
    line-height: 25px;
}
.custinfo-dropdown .quick-links a:hover span {
    background: #fff;
}
.custinfo-dropdown__list {
    display: none;
    position: absolute;
    background: #f6f6f6;
    border-top: none;
    padding: 2px;
    margin: 0;
}
.custinfo-dropdown:hover .custinfo-dropdown__list {
    display: block;
    postion: relative;
    z-index: 100;
}
/* -------------TEMPLATE TEXT_LINK_DROPDOWN------------- */

/* -----------TEMPLATE CP_MODE_SIDEBOX_GENERAL----------- */
.cp_mode_sidebox {
    width: 100%;
    box-sizing: border-box;
}

.cp_mode_sidebox__title {
    padding: 0 0 10px 0;
    margin: 5px 0;
    font-size: 32px;
    color: #000;
    text-transform: uppercase;
}

.cp_mode_sidebox__title-wrapper {
    padding: 3px 5px;
    font-family: 'oswald';
    letter-spacing: 1px;
    font-weight: 100;
}

.cp_mode_sidebox__body {
    padding-top: 20px;
    border-top: 3px solid #f6f6f6;
}
/* -----------TEMPLATE CP_MODE_SIDEBOX_GENERAL----------- */

/* -----------------МОДЕ СТАНДАРНЫЙ ШАБЛОН----------------- */

.cp_mode_tabsbox {
    margin-top: 25px;
}
div.cp_mode_tabsbox h3:first-child + div{
    display: block;
}
.cp_mode_tabsbox h3.tab-list-title{
    margin: 0 0 5px 0;
    text-align: left;
    font-size: 22px;
    padding: 5px 0 12px 10px;
    font-weight: 300;
    background-color: #fff;
    color: #000;
    border-bottom: 3px solid #f6f6f6;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-family: 'open sans';
    cursor: pointer;
    &:hover{
        border-color: #000;
    }
}
.cp_mode_tabsbox h3.tab-list-title + div{
    display: none;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #000;
    font-family: 'open sans';
    & .ty-discussion-post__message,
    & div> p{
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: #000;
        font-family: 'open sans';
    }
}
.ty-orders-detail .ty-tabs{
    border-bottom: 0;
}
.ty-tabs {
    margin-top: 40px;
    border-bottom: 1px solid #fcaa43;
}
.ty-tabs__item, 
.ty-tabs .subtab{
    background: #fcaa43;
}
.ty-tabs__item:hover, 
.ty-tabs .subtab:hover{
    background: #fcaa43;
    & a{
        color: #fff;
    }
}
.ty-tabs__item.active, 
.ty-tabs .subtab.active{
    background:darken(#fcaa43,10%);
}
.ty-tabs__a, 
.ty-tabs .subtab a{
    color: #fff;
}
.cp_mode-product-block__wrapper .ty-add-to-wish:before{
    content: "\f004";
    font-size: 13px;
    padding-right: 10px;
    font-family: FontAwesome,'Open Sans',sans-serif;
}
.cp_mode-product-block__wrapper .ty-cr-product-button:before{
    content: "\f0a6";
    font-size: 13px;
    padding-right: 10px;
    font-family: FontAwesome,'Open Sans',sans-serif;
}
.cp_mode-product-block__wrapper .ty-add-to-compare:before{
    content: "\f079";
    font-size: 13px;
    padding-right: 10px;
    font-family: FontAwesome,'Open Sans',sans-serif;
}

.cp_mode-product-block__wrapper .ty-add-to-wish,
.cp_mode-product-block__wrapper .ty-cr-product-button,
.cp_mode-product-block__wrapper .ty-add-to-compare{
    border: 1px solid #f6f6f6;
    text-align: center;
    width: 45%;
    float: right;
    padding: 8px 0;
    text-transform: uppercase;
    font-size: 13px;
    background: #f6f6f6!important;
    border-radius: 2px;
    color: #000000;
        font-family: 'open sans';
}
.cp_mode-product-block__wrapper .ty-add-to-compare{
    display: none;
}
.cp_mode-product-block__wrapper .ty-btn__add-to-cart{
        background: #fcaa43;
    display: block;
    width: 100%;
    padding: 12px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    font-size: 20px;
    margin: 20px 0;
    font-family: 'oswald';
    letter-spacing: 1px;
    font-weight: 100;
    border: 1px solid #fcaa43;
    line-height: 1.375;
    text-transform: uppercase;
    &:hover{
        opacity: 0.85;
        border-color: #fcaa43;
    }
}
.cp_mode_product-block__img-wrapper{
    box-sizing: border-box;
    display: inline-block;
    width: 58%;
    float: left;
    min-height: 400px;
}
.cp_mode_product-block__right-wrapper{
    box-sizing: border-box;
    display: inline-block;
    width: 40%;
    float: right;
    padding-left: 2%;
}

.cp_mode-product-block-title{
    margin: 25px 0 10px;
    padding: 0;
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    text-transform: uppercase;
    -webkit-font-smoothing: auto;
}
.cp_mode_product-block__price .ty-product-prices span {
    font-size: 24px;
    font-weight: 300;
    color: #000;
}

.cp_mode_product-block__price {
    text-align: center;
    & .ty-product-prices{
        margin: 0;
    }
}

.cp_mode-product-block__advanced-option label,
.cp_mode-product-block__advanced-option a,
.cp_mode-product-block__advanced-option span,
.cp_mode-product-block__wrapper .ty-control-group.product-list-field label,
.cp_mode-product-block__wrapper .cp_mode_qty-discount label,
.cp_mode-product-block__wrapper .ty-qty label,
.cp_mode-product-block__wrapper .ty-qty-discount__label,
.cp_mode_qty-discount table th,
.cp_mode_brand a,
.cp_mode_product-block__option label{
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    color: #000;
    font-family: 'oswald';
    line-height: 1;
}

.cp_mode_qty-discount .ty-qty-discount__table {
    border: 1px solid #d0882d;
}
.cp_mode_qty-discount .ty-table tbody tr:nth-child(2n) {
    background: #fcaa43;
    color: #fff;
}
.cp_mode_qty-discount .ty-table thead th{
    background: #fcaa43;
    color: #fff;
}
.cp_mode_qty-discount .ty-qty-discount__table .ty-qty-discount__td {
    border-right: 1px solid #d0882d;
}
.cp_mode_product-block__note{
    position: relative;
    width: 100%;
}
/* -----------------МОДЕ СТАНДАРНЫЙ ШАБЛОН----------------- */

/* --------------MINIMALECT-------------- */

.minict_wrapper {
    font-family: "Segoe UI",Segoe,"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
    color: #333;
    position: relative;
    width: 300px;
    height: 35px;
    height: 2.2rem;
    background: #f6f6f6 !important;
    border: none !important;
    font-family: 'open sans', sans-serif !important;
    box-shadow: none !important;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    disabled
}

.minict_wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.minict_wrapper.disabled {
    background: #f5f5f5;
    text-shadow: 0 1px 0 #fff
}

.minict_wrapper.disabled span {
    color: #bbb !important
}

.minict_wrapper:after {
    content: "\25BC";
    display: block;
    position: absolute;
    height: 33px;
    width: 33px;
    height: 2.1rem;
    width: 2.1rem;
    top: 0;
    right: 0;
    font-size: 10px;
    font-size: 0.6rem;
    line-height: 32px;
    line-height: 1.9rem;
    text-align: center;
    color: #555
}

.minict_wrapper.active:after {
    content: "\25B2"
}

.minict_wrapper.disabled:after {
    color: #bbb
}

.minict_wrapper span {
    display: block;
    border: 0;
    outline: none;
    background: none;
    font-family: "Segoe UI",Segoe,"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,sans-serif;
    color: #333;
    font-size: 16px;
    font-size: 1rem;
    height: 32px;
    height: 2.0rem;
    line-height: 23px;
    line-height: 1.5rem;
    padding: 4px 53px 0 6px;
    padding: 4px 3.4rem 0 0.4rem;
    cursor: default;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.minict_wrapper span:empty:before {
    content: attr(data-placeholder);
    color: #ccc;
    line-height: 23px;
    line-height: 1.5rem
}

.minict_wrapper ul {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0 -1px;
    position: absolute;
    width: 100%;
    width: -webkit-calc(100% + 2px);
    width: -moz-calc(100% + 2px);
    width: calc(100% + 2px);
    border: 1px solid #e5e5e5;
    border-top: 1px solid #f9f9f9;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    top: 33px;
    top: 2.0rem;
    left: 0;
    max-height: 350px;
    max-height: 22rem;
    overflow-y: auto;
    z-index: 999999
}

.minict_wrapper ul li {
    list-style: none;
    font-size: 1rem;
    padding: 0 10px;
    padding: 0 0.7rem;
    cursor: pointer;
    background: #fff;
    height: 35px;
    height: 2.2rem;
    line-height: 32px;
    line-height: 2rem
}

.minict_wrapper ul li:hover {
    background: #fcfcfc;
    color: #111
}

.minict_wrapper ul li.minict_group {
    color: #444;
    background: #f6f6f6;
    font-weight: bold;
    cursor: default
}

.minict_wrapper ul li.minict_empty {
    display: none;
    background: #fff !important;
    color: #bbb;
    text-align: center;
    font-size: 14px;
    font-size: 0.9rem;
    height: 55px;
    height: 3.5rem;
    line-height: 50px;
    line-height: 3.3rem
}

.minict_wrapper ul li.disabled {
    cursor: default;
    background: #fff !important;
    color: #bbb
}

.minict_wrapper ul li.selected {
    color: #819a9a;
    background: #f8f9f9
}

.minict_wrapper ul li.highlighted {
    color: #fff;
    background: #819a9a
}

.minict_wrapper ul li.hidden {
    display: none
}

.minict_wrapper .minict_reset {
    color: #A9A9A9;
    bottom: 0;
    display: none;
    font-size: 18px;
    font-size: 1.1rem;
    line-height: 30px;
    line-height: 1.9rem;
    position: absolute;
    right: 35px;
    right: 2.2rem;
    text-align: center;
    top: 0;
    text-decoration: none;
    width: 20px;
    width: 1.2rem;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out
}

.minict_wrapper .minict_reset:hover {
    color: #e0e0e0;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out
}

.minict_wrapper .minict_reset:active {
    color: #636363
}

.minict_wrapper.disabled .minict_reset {
    display: none
}

.minict_wrapper.bubble {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.05);
    background: -moz-linear-gradient(top, #fff 0%, #f9f9f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f9f9f9));
    background: -webkit-linear-gradient(top, #fff 0%, #f9f9f9 100%);
    background: -o-linear-gradient(top, #fff 0%, #f9f9f9 100%);
    background: -ms-linear-gradient(top, #fff 0%, #f9f9f9 100%);
    background: linear-gradient(to bottom, #fff 0%, #f9f9f9 100%)
}

.minict_wrapper.bubble:hover {
    border-color: #dcdcdc
}

.minict_wrapper.bubble:after {
    border-left: 1px solid #e5e5e5;
    -webkit-box-shadow: inset 1px 0px 0px 0px #fff;
    box-shadow: inset 1px 0px 0px 0px #fff;
    height: 2.05rem
}

.minict_wrapper.bubble ul {
    top: 2.7rem;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.25);
    border-radius: 6px;
    overflow: visible
}

.minict_wrapper.bubble ul:before {
    position: absolute;
    top: -11px;
    left: 19px;
    content: ".";
    color: transparent;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 11px 11px 11px;
    border-color: transparent transparent #e5e5e5 transparent
}

.minict_wrapper.bubble ul:after {
    position: absolute;
    top: -10px;
    left: 20px;
    content: ".";
    color: transparent;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent
}

.minict_wrapper.bubble ul li.minict_first {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px
}

.minict_wrapper.bubble ul li.minict_last {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px
}

.minict_wrapper.bubble .minict_reset {
    width: 30px
}

/* --------------MINIMALECT-------------- */

/* -----------ОБЩИЕ СТИЛИ----------- */
textarea:focus, input[type="text"]:focus, 
input[type="tel"]:focus, 
input[type="email"]:focus, 
input[type="password"]:focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 5px;
    border-color:transparent;
}
input[type="text"].cm-failed-field, 
input[type="password"].cm-failed-field, 
textarea.cm-failed-field, 
.cm-field-container.cm-failed-field input[type="text"] {
    border: 1px solid transparent;
}
.cm-hint {
    color: #a5a5a5 !important;
}
.buttons-container{
    background: #fff;
}

#content_discussion .ty-discussion-post {
    border: 1px solid #f6f6f6;
}
.ty-caret-bottom .ty-caret-outer {
    border-left: 16px solid #f6f6f6;
}
.ty-product-switcher{
    top: 15px;
}
.ty-product-switcher span{
    color: #000;
}
.ty-product-switcher__icon,
.ty-product-switcher__a.disabled .ty-product-switcher__icon{
    color: #fcaa43;
}
.ty-product-switcher__a:hover .ty-product-switcher__icon,
.ty-product-switcher__a.disabled .ty-product-switcher__icon, 
.ty-product-switcher__a.disabled:hover .ty-product-switcher__icon{
    color: darken(#fcaa43,10%);
}
.main-content-search .ty-mainbox-title {
    padding: 2px 0 12px 0;
    margin: 0;
    & h1{
        font-style: normal;
        font-size: 24px;
        font-family: Oswald-Light,sans-serif;
    }
    & span{
        font-size: 32px;
        text-transform: uppercase;
        &.ty-mainbox-title__right{
            font-size: 16px;
            padding-top: 12px;
        }
    }
}
.ty-breadcrumbs.clearfix {
    border-bottom: 3px solid #f6f6f6;
    padding: 10px 0 15px 0;
    margin: 0 0 20px 0;
    font-size: 14px;
}
.ty-breadcrumbs__a {
    color: #000;
    font-size: 14px;
}
.ty-form-builder__buttons button.ty-btn__secondary {
    background: yellow;
    border: 0 none;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    height: 32px;
    line-height: 32px;
    margin: 5px 5px 0 0;
    padding: 0 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
    color: #000;
    font-size: 15px;
    font-family: 'Helvetica',Arial,sans-serif;
}
/* -----------ОБЩИЕ СТИЛИ----------- */

@media (max-width: 767px){
    .ty-footer-menu__item,
    .ty-menu__item{
        border-bottom-color: transparent;
    }
}

@media screen and (max-width: 450px){
    .footer__menu {
        width: 100%;
        padding-bottom: 20px;
        text-align: center;
    }
}



/* ____________________________ */
/* __________СТАНДАРТ__________ */

@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
    .cp_mode_footer .visible-phone{
        display: none!important;
    }
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (max-width: 800px) {
  .hidden-xs2 {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}
/* __________СТАНДАРТ__________ */
/* ____________________________ */






/* -----------Настройка cp_mode-контейнер во всю ширину------------- */
.container-fluid {
    width: auto;
    min-width: inherit;
    max-width: none;
    padding-right: 0px;
    padding-left: 0px;
}
.container-fluid__row {
    @media screen and (min-width:1400px) {
        max-width: @fluidContainerMaxWidth;
    }
    @media screen and  (max-width:1399px) {
        max-width: 1200px;
    }
    min-width: @fluidContainerMinWidth;
    margin: 0 auto;
    .clearfix;
}
.container-fluid > .container-fluid__row {
    padding-right: 20px;
    padding-left: 20px;
}
.container-fluid__row--full-width,
.container-fluid__row--no-limit {
    max-width: none;
}

.container-fluid__row--full-width > .row-fluid {
    max-width: @fluidContainerMaxWidth;
    min-width: @fluidContainerMinWidth;
    margin: 0 auto;
}
.container-fluid__row.container-fluid__row--no-limit {
    padding-right: 0px;
    padding-left: 0px;
}
/* ------------Настройка cp_mode-контейнер во всю ширину------------ */

/* Cart* ********************************************** */
label.ty-product-options__box.option-items{
    & span{
        font-size: 10px;
    }
} 
.product-description div {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
}
.estimation-box {
    display: none;
}
.mainbox-cart-title {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    background: none;
}
.mainbox-cart-body {
    border: none;
    padding: 15px 0 0;
}
.cart-line-item {
    padding: 45px 0;
    border-bottom: 3px solid #f6f6f6;
    &:first-child{
        padding-top: 0;
    }
}
.cart-line-item .product-price {
    float: right;
}
#cart_items .product-image {
    padding-left: 0;
    margin-bottom: 0;
}
div.cart-item-btn-w {
    display: block;
    margin-top: 15px;
}
.cart-item-btn-w a,
.cart-item-btn-w input {
    display: inline-block;
    margin-right: 3px;
    padding: 2px 6px;
    
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    
    color: #555;
    background: #f0f0f0;
}
.cart-item-btn-w a:hover,
.cart-item-btn-w input:hover {
    color: #fff;
    background: #000;
}
.cm-tools-list.right {
    text-align: left;
}
.product-description .product-title {
    display: block;
    margin-top: 25px;
    margin-bottom: 17px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
.cart-line-item .product-price {
    margin-top: 25px;
    font-size: 22px;
    text-transform: uppercase;
}
.cart-line-item .product-price span {
    color: #000;
}

.cart-line-item .product-price span.price {font-weight: 500;} 

.quantity.changer label,
.cart-line-item .form-field label ,
.ty-product-options__item-label{
    width: auto !important;
    margin: 0 5px 0 0;
    color: #000;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 22px;
}
.changer .ty-value-changer {
    width: 53px;
    margin-right: 10px;
}
.changer input.ty-value-changer__input{
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    width: 40px;
    height: 22px;
    padding: 2px;
    font-size: 10px;
}

.touch .cm-increase,
.cm-increase,
.touch .cm-decrease,
.cm-decrease {
    float: right;
    display: block;
    width: 9px;
    height: 9px;
    border: 1px solid #ccc;
    text-decoration: none;
    background: transparent;
    line-height: 1;
    font-size: 9px;
    color: #555;
}
.no-touch .ty-value-changer__increase:hover, 
.no-touch .ty-value-changer__decrease:hover{
    background-color: transparent;
}
.ty-cart-content__product-elem{
    border:0;
}
.cart-line-item .form-field {
    margin-right: 10px;
    padding: 0;
}
.cart-line-item .option-by-name__Colour {
    display: none;
}
.coupons-container {
    float: left;
    padding-top: 20px;
}
.continue-shopping--cart a,
.cart-header .button a {
    margin-right: 20px;
    border: 1px solid #F6F6F6;
    background: #F6F6F6;
}
.continue-shopping--cart a:hover,
.cart-header .button a:hover {
    background: #000;
}
@media (max-width: 550px) {
    .cart-header .float-right,
    .cart-header .float-left,
    .buttons-container--cart .float-right,
    .buttons-container--cart .float-left {
        float: none;
    }
    .cart-header span,
    .buttons-container--cart span {
        display: block;
    }
    .cart-header a,
    .cart-header .button a,
    .buttons-container--cart a {
        margin-right: 0;
        margin-bottom: 15px;
        display: block;
        text-align: center;
    }
}
ul.statistic-list {
    clear: none;
    background: none;
}
ul.statistic-list li {
    padding: 0;
}
ul.statistic-list li {
    text-align: right;
    line-height: 30px;
}
ul.statistic-list li strong,
ul.statistic-list li span,
ul.statistic-list li.subtotal span,
ul.statistic-list li.subtotal strong {
    font-family: 'open sans';
    font-size: 18px;
    font-weight: 500;
}
ul.statistic-list li.total span,
ul.statistic-list li.total strong {
    font-family: 'open sans';
    font-size: 22px;
    font-weight: bold;
    color: #000;
}
ul.statistic-list li.total {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 40px;
}
ul.statistic-list li span {
    width: 162px;
}

.helper-container .form-field--go-btn {
    padding: 0;
    position: relative;
    width: 300px;
}
.form-field--go-btn .input-text {
    width: 300px;
    padding: 3px 38px 3px 10px ;
    height: 32px;
    margin: 0;
}
.btn_go2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    background: #ccc;
    text-align: center;
    font-size: 16px;
}
.btn_go2 i {
    line-height: 32px;
}
.btn_go2:hover {
    color: #fff;
    background: #000;
}
@media(max-width:550px){
    #cart_items .product-image {
        display: blocl;
    }
    #cart_items .product-image img {max-width: 90px;}
    
    .helper-container .form-field--go-btn,
    .form-field--go-btn .input-text {
        width: 100%;
    }
    #cart_items .sku {
        display: block;
    }
    .product-description .product-title {
        margin-top: 18px; font-size: 16px; font-weight: 500;
    }
    .cart-line-item .product-price {
        margin-top: 20px; font-size: 16px; font-weight: 500;
    }
}
/* product LIST view styles */
#cart_items .ty-cart-content__qty{
    padding: 0 ;
}
.product-spacer {
    width: 9px;
}
.product-image, .feature-image {
    float: left;
    margin: 0 25px 10px 0;
    text-align: center;
}
td.product-image {
    margin: 0;
    float: none;
}
td.product-image img {
    margin: 0 10px;
}
.product-description, .feature-description {
    display: table;
}
td.product-description {
    padding-right: 10px;
    display: table-cell;
}
.product-bulk-add-wrapper {
    padding-right: 3px;
    margin: 3px 0;
}
.discount-label {
    float: left;
    margin: 4px 0 0 20px;
}
.discount-label em {
    display: block;
    font-size: 85%;
    font-weight: bold;
    white-space: nowrap;
}
.product-variant-image {
    padding-top: 5px;
    margin-left: -120px;
}
.product-list-price strike {
    padding-right: 8px;
}
/* /product LIST view styles */
/* Cart items */
#cart_items .product-description{
        width: 68%;
    }
#cart_items select{
    height: 22px;
    max-width: 100px;
    font-size: 10px;
    margin-top: 5px;
    padding: 0;
}
#cart_items .sku {
    padding: 4px 0 3px;
    color: #858585;
    font-size: 10px;
}
#cart_items .product-image {
    padding-left: 3px;
}
#cart_items .product-description {
    display: block;
    overflow: hidden;
}
.quantity {
    padding: 5px 0 10px 0;
}
.quantity .input-text {
    padding: 1px;
    height: 13px;
    width: 31px;
    margin: 0 4px 0 1px;
}
.product-description a.cm-combo-on, .product-description a.cm-combo-off {
    padding-left: 17px;
    font-size: 85%;
}
.product-description .product-options {
    padding: 2px 0 6px 0;
    font-size: 100%;
}
.product-options .table-fixed {
    width: 450px;
    max-width: 450px;
}
.product-options .table-fixed .product {
    width: 70px;
}
.product-options .table-fixed .product-list-field {
    padding-left: 0;
}
.product-options .table-fixed .product-list-field label {
    margin-left: 0;
}
.without-image {
    padding:0 0 0 35px;
}
/* /Cart items */


.product-description, .feature-description {
    display: table;
}
div.cp_mode_sku-item-wishlist{
    font-size: 10px;
    text-align: left;
    display: block;
}
.cp_mode_sku-item-wishlist label{
    font-size: 10px!important;
}
.cp_mode-grid-list__price__w1 span{
    font-size: 24px;
    font-weight: 300;
    color: #000;
}
/* common styles */
.product-container {
    padding: 5px 0;
}
.border {
    margin-bottom: 12px;
}
.no-items {
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    margin: 6px 3px;
}
hr {
    border-bottom: 1px solid #eaf0f5;
}
