


@media screen and (max-width: 1399px) {
    .cp_mode_sort-container .cp_mode_sort-dropdown_rigth .ty-sort-dropdown__content {
        right: 0;
        &:before {
            right: 25px;
            left: inherit;
        }
    }
    .cp_mode_search_block_form.hidden.active{
        box-sizing: border-box;
        & .cp_mode_search_block_form_body{
            width: 100%;
        }
    }
}


@media screen and (max-width: 1240px) {
    
    .cp_mode-menu__submenu-items_3levels_cols,
    .cp_mode-menu__submenu-items,
    .cp_mode_footer .row-fluid,
    .container-fluid__row{
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    
}

@media screen and  (min-width: 961px) and (max-width: 1240px){
    .cp_mode-product-img.ty-product-img.cm-preview-wrapper{
        width: 84%;
    }
    .ty-product-bigpicture__as-thumbs  .cp_mode-product-thumbnails{
        width: 16%!important;
        margin-left: 0;
    }
}
@media screen and  (min-width: 800px) and (max-width: 1115px){
    .cp_mode-top-mine__submenu-col a,
    .cp_mode_shopping-bag__content__empty{
        font-size: 16px;
    }
    .cp_mode-menu_horizontal{
        margin-left: 10px;
    }
    .cp_mode-menu_horizontal .cp_mode-menu_horizontal-fli > a{
        font-size: 16px;
        margin: 0 5px;
        padding: 5px 1px;
    }
    .cp_mode_wishlist_view .cp_mode_TLink i.fa,
    .cp_mode_search_block .cp_mode_fa,
    .cp_mode_shopping-bag-title a i.fa{
        font-size: 20px;
    }
    .cp_mode_search_block_form{
        top: 5px;
    }
}

@media screen and (max-width: 979px) {
     #cart_items .product-description .quantity label{
        display: block;
        margin-bottom: 12px;
     }
}

@media screen and  (min-width: 651px) and (max-width: 960px) {
    .cp_mode-product-img.ty-product-img.cm-preview-wrapper{
        width: 100%;
    }
    .ty-product-bigpicture__as-thumbs  .cp_mode-product-thumbnails{
        width: 100%!important;
        margin-left: 0;
    }
    .cp_mode-product-block__wrapper .ty-cr-product-button,
    .cp_mode-product-block__wrapper .ty-add-to-wish,
    .cp_mode-product-block__wrapper .ty-add-to-compare{
        width: 100%;
        margin-right: 0;
    }
    .ty-social-buttons{
        display: none;
    }
}
@media screen and (max-width: 800px) {
    body .row-fluid .cp_visible__mobile_section__menu{
        display: block;
    }
     .cp_visible__mobile_section1{
        & [class*="span"]{
            width: 32%;
            box-sizing: border-box;
            display: inline-block;
            vertical-align: top;
            & .ty-dropdown-box__title{
                padding: 12px 0px 7px 5px;
            }
            & .cp_mode_search_block{
                line-height: 90px;
            }
            &  #showLeft{
                margin-left: 50px;
                margin-top: 25px;
            }
            & .cp_mode_shopping-bag__content{
                margin-top: 0;
            }
        }
    }
    .mobile-top-nav{
        display: block;
    }
    .promo-section__wrapper {
        margin: 0 auto;
        width: 90%;
        display: block;
    }
    .cp_mode__mobile{
        display: block;
        & .ty-logo-container__image{
            max-width: 130px;
            margin: 0 auto;
            display: block;
        }
        & .cp_mode_shopping-bag-title a i.fa,
        & .cp_mode_search_block .cp_mode_fa{
            font-size: 30px;
        }
        & .cp_mode_search_block_form{
            top: 0;
            padding-top: 0;
            padding-bottom: 0;
        }
        & #showLeft{
            position: relative;
            font-family: normal normal normal 14px/1 FontAwesome;
            font-size: 30px;
            margin-left: 65%;
            cursor: pointer;
            transition: none;
            top: 20px;
        }
        & .bag-container{
            margin-right: 10px;
        }
    }
    ul.cp_mode-menu_horizontal.cp_mode-menu__items {
        margin: 0;
    }
    #hidenLeft{
        display: block;
    }
    li.ty-menu__item.cp_mode_home_ico{
        display: none!important;
    }
    .mobile-top-nav{
        display: block;
    }
    a.cp_mode-menu__item-toggles{
        display: block;
    }
    .cp_visible__mobile_section__menu .cp_mode-menu_horizontal .cp_mode-menu_horizontal-fli{
        width: 100%;
    }
    .cp_mode-cart-content__buttons{
        padding: 0 20px;
    }
    .ty-cart-items__list-item-image{
        margin-right: 15px;
    }

}
@media screen and (min-width: 620px) and (max-width: 979px) {
    .product-description .product-title,
    .cart-line-item .product-price{
        font-size: 16px;
    }
    div#cart_items .product-description{
        width: 53%;
    }
}
@media screen and (max-width: 620px) {
    #cart_items .product-description{
        width: 46%;
    }
    .product-description .product-title,
    .cart-line-item .product-price{
        font-size: 16px;
    }
}
@media only screen and (max-device-width: 480px) and (min-device-width: 320px){
    .cp_mode__mobile .ty-logo-container__image {
        max-width: 100px;
        margin-top: 6px;
    }
    .cp_mode_shopping-bag, 
    .cp_mode_wishlist_view, 
    .cp_mode_search_block{
        margin: 0;
    }
    .cp_visible__mobile_section1{
        & [class*="span"]{
            width: 32.5%;
            box-sizing: border-box;
            display: inline-block;
            vertical-align: top;
            & .ty-dropdown-box__title{
                padding: 12px 0px 7px 5px;
            }
            & .cp_mode_search_block{
                line-height: 90px;
            }
            &  #showLeft{
                margin-left: 10%;
            }
            & .cp_mode_shopping-bag__content{
                margin-top: 0;
            }
        }
    }
}
@media screen and (max-width: 790px) {
    .row-fluid .cp-mode-block-subscribe,
    .row-fluid .cp-mode-block-socicons{
        width: 100%;
        text-align: center;
        & .social-links{
            float: none; 
            text-align: center;
        }
    }
}

@media screen and (min-width: 450px) and (max-width: 767px) {
    .cp-mode-footer-menu .row-fluid [class*="span"]{
        width: 32%;
        vertical-align: top;
        display: inline-block;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 767px) {
    .minict_wrapper{
        width: 100%;
    }
    .ty-orders-detail__table.ty-table td:first-child{
        text-align: left;
    }
    .subscribe_btn_go{
        margin-top: -4px;
    }
    .ty-wysiwyg-content ul{
        padding: 0;
    }
    .footer_first {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        max-width: 100%;
        padding: 20px;
    }

    .ft_column {
        width: 39%;
        float: none;
        padding: 0;
    }
    .ty-horizontal-product-filters-dropdown{
        border-bottom: 0;
    }
    .ty-mainbox2-title{
        margin: 10px 0 20px 0;
    }
    .ty-checkout-complete__buttons-left, 
    .ty-checkout-complete__buttons-right{
        & .ty-btn{
            width: 100%;
            box-sizing: border-box;
        }
    }

}
@media screen and (max-width: 650px) {
    .cp_mode-product-img.ty-product-img.cm-preview-wrapper{
        width: 100%;
        display: block !important;
    }
    .ty-product-bigpicture__as-thumbs  .cp_mode-product-thumbnails{
        width: 100% !important;
        margin-left: 0;
        margin-top: 10px;
    }
    .cp_mode_product-block__img-wrapper,
    .cp_mode_product-block__right-wrapper{
        width: 100%;
        margin: 0;
        float: none;
    }
}

@media screen and (max-width: 450px) {
    .cp_mode-discount-coupon .ty-input-text{
        width: 240px;
    }
    #cart_items .product-description{
        width: 100%;
    }
    .cp_mode_search_block_form_body .cp_mode_search-block__input{
        min-width: 0;
        width: 85%;
    }
    [name="subscribe_form"] .help-inline{
        position: relative;
    }

    form[name="orders_search_form"] .ty-control-group__title{
        display: block;
    }
    .ty-product-notification__buttons{
        & .ty-float-left,
        & .ty-float-right{
            float: none;
        }
        & .ty-btn{
            width: 100%;
            box-sizing: border-box;
            margin-top: 10px;
        }
    }
    .minict_wrapper{
        width: 270px;
    }
    .cp_mode-product-block__wrapper .ty-cr-product-button,
    .cp_mode-product-block__wrapper .ty-add-to-wish,
    .cp_mode-product-block__wrapper .ty-add-to-compare{
        width: 100%;
        margin-right: 0;
    }
    .cp_mode_tabsbox{
        clear: both;
    }
    .ty-product-thumbnails__item{
        display: inline-block;
        float: none;
    }
    .ty-social-buttons{
        display: none;
    }
     button.subscribe_btn_go {
        margin-top: 0px;
    }
    .social-links a{
        font-size: 25px;
    }
    .ty-profile-field__buttons .ty-btn{
        margin-left: 0;
    }
     .ty-owl-controls{
        margin: 0;
        margin-top: -10px;
        float: none;
    }
    .owl-theme .owl-controls .owl-buttons div{
        text-align: center;
        background: @primary_button;
    }
    .subscribe_form--footer .ty-input-text:focus{
        width: 250px;
        box-sizing: border-box;
    }

}


@media screen and (min-width: 451px) and (max-width: 979px) {
   .ty-owl-controls{
        display: none!important;
   }
}