
.ty-btn {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    padding: 10px 40px;
    text-transform: uppercase;
}
.ty-btn__primary{
        border: 1px solid @primary_button;
        border-radius: 3px;
}
.ty-btn__secondary,
.ty-btn__tertiary{
    border-radius: 3px;
}


.btn_ser{
    border: 1px solid #cccccc;
        border-radius: 3px;
        text-transform: uppercase;
        cursor: pointer;
        min-width: 150px;
        background: #fff;
        border: 1px solid #cccccc;
        font-size: 14px;
        color: #000;
        padding: 10px;
        margin: 5px 0;
        font-family: 'open sans';
        -webkit-appearance: none;
        filter: alpha(opacity=100);
        opacity: 1;
        &:hover{
            background: #000000;
            color: #ffffff;
            border-color: #000000;
        }
}
.ty-checkout-buttons{
    & .ty-btn__primary{
        padding: 10px 40px;
        border: 1px solid #fcaa43;
        text-align: center;
        font-weight: 600;
        line-height: 1.375;
        text-transform: uppercase;
        text-decoration: none;  
    }
}

.ty-tabs__list .ty-tabs__item,
.ty-checkout__billing-tabs .ty-tabs__item{
    padding: 10px 40px;
    border: 1px solid #fcaa43;
    text-align: center;
    line-height: 1.375;
    text-transform: uppercase;
    text-decoration: none;  
    border: 1px solid @primary_button;
    border-radius: 3px;
    & a{
        font-weight: 600;
        font-family: 'open sans';
    }
}

.cp_mode-wish-list__buttons{
    & .cp_mode-reset-wishlist{
       .btn_ser();
    }
}
.ty-checkout-complete__buttons-right,
.ty-checkout-complete__buttons-left{
    & .cp_mode-reset-wishlist,
    & .ty-btn{
        .btn_ser();
    }
}

#checkout_steps,
.ty-checkout-complete__buttons{
    & .ty-btn__login,
    & #anonymous_checkout button.ty-btn__primary.ty-btn,
    & #register_checkout a{
        border: 1px solid #cccccc;
        border-radius: 3px;
        text-transform: uppercase;
        cursor: pointer;
        min-width: 150px;
        background: #fff;
        border: 1px solid #cccccc;
        font-size: 14px;
        color: #000;
        padding: 10px;
        margin: 5px 0;
        font-family: 'open sans';
        -webkit-appearance: none;
        filter: alpha(opacity=100);
        opacity: 1;
        &:hover{
            background: #000000;
            color: #ffffff;
            border-color: #000000;
        }
    }
    & .ty-checkout__login {
        background: #f6f6f6;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    & .ty-checkout__register {
        border: 3px solid #f6f6f6;
        box-sizing: border-box;
        padding-top: 20px;
        padding-bottom: 50px;
    }
}

#checkout_steps .ty-btn.cp_mode-btn-change{
    color: #6b7b7b;
    font: normal 92% Arial;
    text-transform: lowercase;
    letter-spacing: 1px;
    background: transparent;
    border:0;
    min-width: auto;
    padding: 0;
    &:hover{
        color: #000;
    }
}
.cp_mode__cart-content-btn{
    & .ty-btn.ty-btn__secondary {
      .btn_ser();
    }
    & .ty-btn__primary{
        text-transform: uppercase;
    }
}

.ty-horizontal-product-filters-dropdown__content .ty-product-filters__tools .ty-btn{
    .btn_ser();
    width: 100%;
    box-sizing: border-box;
}
@media screen and (max-width: 800px) {
    .ty-accordion .ui-accordion-header.ui-state-active{
        .btn_ser();
        &  .ui-accordion-header-icon{
            display: none;
        }
        &:hover{
            background-color: transparent;
            color: #000;
        }
    }
}