{if $runtime.controller == 'profiles'}
    {if $runtime.mode == 'add'}
    <!-- <div class="ty-account-benefits">
        {__("text_profile_benefits")}
    </div> -->
    <style>
        .cp_mode_profile-information-grid {
            display: none;
        }

        .cp_mode-main-content-grid-profil {
            width: 100%!important;
        }
        .ty-profile-field__buttons{
            text-align: center;
        }
    </style>
    {elseif $runtime.mode == 'update'}
        <div class="ty-account-detail">
            {__("text_profile_details")}
        </div>
    {/if}
{/if}