 <div class="mobile-top-nav clearfix">
    <a href="{""|fn_url}"><i class="fa fa-home"></i></a>
    <a href="{"wishlist.view"|fn_url}"><i class="fa fa-heart-o"></i></a>
    <a href="{"profiles.update"|fn_url}"><i class="fa fa-user"></i></a>
    <a href="{"checkout.cart"|fn_url}"><i class="fa fa-shopping-bag" aria-hiddenw="true"></i></a>
</div>
<a href="#hidenLeft" id="hidenLeft"><i class="fa fa-times" aria-hidden="true"></i></a>
<li class="ty-menu__item cp_mode_home_ico"><a href="{""|fn_url}" class="cp_mode-menu__item-link-ico"><i class="fa fa-home"></i></a>
</li>