body:before {
	content: "For the final installation theme 'First' install and activate addon 'mode addon'";
	display: block;
	text-align: center;
	font-size: 30px;
	width: 100%;
	background: tomato;
	padding: 20px;
    color: #fff;
}