@rounded_corners: false;
@links: #000000;
@menu_links: #000000;
@menu: #ffffff;
@base: #ffff00;
@font: #000000;
@primary_button: #fcaa43;
@secondary_button: #fcb75f;
@tertiary_button: #f4c385;
@sidebar: #ffffff;
@price: #000000;
@discount_label: #ff9900;
@in_stock: #2ECC71;
@out_of_stock: #a80006;
@top_panel_links: #000000;
@top_panel_text: #000000;
@footer_text: #000000;
@decorative: #e3e3e3;

@general_bg_color: #ffffff;
@general_bg_image: transparent;
@general_bg_repeat: repeat;
@general_bg_scroll: scroll;

@top_panel_bg: #ffffff;
@top_panel_bg_full: false;
@top_panel_bg_transparent: false;
@top_panel_bg_grad_stop: #ffffff;

@header_bg: #ffffff;
@header_bg_full: true;
@header_bg_transparent: false;
@header_bg_grad_stop: #ffffff;

@content_bg: #ffffff;
@content_bg_full: false;
@content_bg_transparent: false;

@footer_bg: #f6f6f6;
@footer_bg_full: false;
@footer_bg_transparent: false;
@footer_bg_grad_stop: #f6f6f6;

@body_font: Open Sans,sans-serif;
@body_font_size: 14px;
@body_font_style: normal;
@body_font_weight: normal;
@headings_font: Oswald-Light,sans-serif;
@headings_font_size: 24px;
@headings_font_decoration: none;
@headings_font_style: normal;
@headings_font_weight: normal;
@links_font: Open Sans,sans-serif;
@links_font_size: 13px;
@links_font_decoration: none;
@links_font_style: normal;
@links_font_weight: normal;
@price_font: Open Sans,sans-serif;
@price_font_size: 13px;
@price_font_decoration: none;
@price_font_style: normal;
@price_font_weight: bold;
@buttons_font: Open Sans,sans-serif;
@buttons_font_size: 14px;
@buttons_font_decoration: none;
@buttons_font_style: normal;
@buttons_font_weight: normal;



















/*GFONTS*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(//fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

/*/GFONTS*/